<?xml version="1.0"?>

<!-- top level -->
<robot name="med14" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include the lbr med macro -->
    <xacro:include filename="$(find lbr_description)/urdf/med14/med14_description.xacro" />
    <xacro:include filename="$(find lbr_description)/urdf/med14_tc/tendon_cube_description.xacro" />
    <xacro:include filename="$(find lbr_description)/urdf/med14_tc/common_properties.xacro" />
    <xacro:include filename="$(find lbr_description)/urdf/med14_tc/table_description.xacro" />

    <xacro:arg name="robot_name" default="lbr" />
    <xacro:arg name="mode" default="true" />
    <xacro:arg
        name="system_config_path"
        default="$(find lbr_description)/ros2_control/lbr_system_config.yaml" />
    <!-- <xacro:arg name="tc_parent" value="$(arg robot_name)_link_ee" /> -->

    <!-- KDL requires a link without inertia -->
    <link name="$(arg robot_name)_floating_link" />

    <!--joint between <robot_name>_floating_link and robot_name_link_0-->
    <joint name="$(arg robot_name)_floating_joint" type="fixed">
        <parent link="$(arg robot_name)_floating_link" />
        <child link="$(arg robot_name)_link_0" />
    </joint>

    <!-- instantiate robot -->
    <xacro:med14
        robot_name="$(arg robot_name)"
        mode="$(arg mode)"
        system_config_path="$(arg system_config_path)" />

    <!-- attach tendon cube -->
    <xacro:tendon_cube_description 
        parent_link="$(arg robot_name)_link_ee"
        robot_name="$(arg robot_name)" />

    <!-- attach table to robot base -->
    <xacro:table_description 
        parent_link="$(arg robot_name)_link_0"
        robot_name="$(arg robot_name)" />
    

</robot>